<header>
    <a href="/cadastro" class="menuItem">+ Criar Post</a>
    <h2><a href="/">postApp</a></h2>
</header>

<div class="bodyContainer">

<div class="formContainer">
{{#each id}}
    <h1 class="formTitle">Você tem certeza?</h1>


    <form action="/sucesso-deletar/{{id}}" method="POST">
        <p>
            <button type="submit">Deletar</button>
            <button type="button" onclick="window.location.href='/'">Cancelar ação</button>
        </p>
    </form>
{{/each}}
</div>