<header>
    <a href="/cadastro" class="menuItem">+ Criar Post</a>
    <h2><a href="/">postApp</a></h2>
</header>

<div class="bodyContainer">

<div class="formContainer">
    <h1 class="formTitle">Adicionar Postagem:</h1>

    <form action="/sucesso-cadastro" method="POST">

        <p>Título: </p>
        <input type="text" name="titulo">

        <p>Conteúdo: </p>
        <textarea name="conteudo"></textarea>

        <p>
            <button type="submit">Salvar postagem</button>
            <button onclick="window.location.href='/'">Cancelar ação</button>
        </p>
    </form>
</div>